@font-face {
  font-family: 'HouseMovements-Sign';
  src: url('/fonts/HouseMovements-Sign.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "AstridGroteskBold";
//   src: url('/fonts/AstridGroteskBold.woff2') format('woff2');
// }
@font-face {
  font-family: "AstridGroteskExtraBold";
  src: url('/fonts/AstridGroteskExtraBold.woff2') format('woff2');
}

// @font-face {
//   font-family: "AstridGroteskHeavy";
//   src: url('/fonts/AstridGroteskHeavy.woff2') format('woff2');
// }
// @font-face {
//   font-family: "AstridGroteskUltraLight";
//   src: url('/fonts/AstridGroteskUltraLight.woff2') format('woff2');
// }
// @font-face {
//   font-family: "AstridGroteskMedium";
//   src: url('/fonts/AstridGroteskMedium.woff2') format('woff2');
// }
// @font-face {
//   font-family: "AstridGroteskLight";
//   src: url('/fonts/AstridGroteskLight.woff2') format('woff2');
// }
// @font-face {
//   font-family: "AstridGroteskRegular";
//   src: url('/fonts/AstridGroteskRegular.woff2') format('woff2');
// }
// @font-face {
//   font-family: "AstridGroteskExtraLight";
//   src: url('/fonts/AstridGroteskExtraLight.woff2') format('woff2');
// }