doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Word Game — by Eric Pitcock
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|News+Cycle:400')
    link(rel='stylesheet', href='assets/css/word-game.min.css')
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-427872-13']);
      _gaq.push(['_trackPageview']);
  body
    .error
      h1
      p
      button Try again
    .header
      .title Word Game
      .score
        | Score:
        span.score-value
    .definition-container
      .definition
        p
    .secret-word
    .keys
      .alpha(data-character-code='113', data-qwerty-order='1') q
      .alpha(data-character-code='119', data-qwerty-order='2') w
      .alpha(data-character-code='101', data-qwerty-order='3') e
      .alpha(data-character-code='114', data-qwerty-order='4') r
      .alpha(data-character-code='116', data-qwerty-order='5') t
      .alpha(data-character-code='121', data-qwerty-order='6') y
      .alpha(data-character-code='117', data-qwerty-order='7') u
      .alpha(data-character-code='105', data-qwerty-order='8') i
      .alpha(data-character-code='111', data-qwerty-order='9') o
      .alpha(data-character-code='112', data-qwerty-order='10') p
      br
      .alpha(data-character-code='97', data-qwerty-order='11') a
      .alpha(data-character-code='115', data-qwerty-order='12') s
      .alpha(data-character-code='100', data-qwerty-order='13') d
      .alpha(data-character-code='102', data-qwerty-order='14') f
      .alpha(data-character-code='103', data-qwerty-order='15') g
      .alpha(data-character-code='104', data-qwerty-order='16') h
      .alpha(data-character-code='106', data-qwerty-order='17') j
      .alpha(data-character-code='107', data-qwerty-order='18') k
      .alpha(data-character-code='108', data-qwerty-order='19') l
      br
      .freebie-button.special *
      .alpha(data-character-code='122', data-qwerty-order='20') z
      .alpha(data-character-code='120', data-qwerty-order='21') x
      .alpha(data-character-code='99', data-qwerty-order='22') c
      .alpha(data-character-code='118', data-qwerty-order='23') v
      .alpha(data-character-code='98', data-qwerty-order='24') b
      .alpha(data-character-code='110', data-qwerty-order='25') n
      .alpha(data-character-code='109', data-qwerty-order='26') m
      .skip-button.special ⇥
    .attempts
      p
        | Attempts left:
        span.attempts-left
    script(src='assets/js/word-game.min.js')
    script(type='text/javascript').
      (function() {
      var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
