@import '../../../common/reset.less';

@font-face {
    font-family: 'HouseMovements-Sign';
    src: url('../fonts/HouseMovements-Sign.eot');
    src: url('../fonts/HouseMovements-Sign.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HouseMovements-Sign.woff2') format('woff2'),
         url('../fonts/HouseMovements-Sign.woff') format('woff'),
         url('../fonts/HouseMovements-Sign.ttf') format('truetype'),
         url('../fonts/HouseMovements-Sign.svg#HouseMovements-Sign') format('svg');
    font-weight: normal;
    font-style: normal;
}

//=============================================================================
// MIXINS
//=============================================================================

.user-select(@value) {
    -webkit-touch-callout:  @value;
    -webkit-user-select:    @value;
    -khtml-user-select:     @value;
    -moz-user-select:       @value;
    -ms-user-select:        @value;
    user-select:            @value;
}

.transition(@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

//=============================================================================
// VARIABLES
//=============================================================================

@black: #444;
@subtle-black: rgba(85,85,85,0.4);

//=============================================================================
// ANIMATION
//=============================================================================

.animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-transform: translateZ(0);
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    20%, 60% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }

    40%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    20%, 60% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }

    40%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
            animation-name: shake;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
                transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
                transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
    }
}

.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
            animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
                transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
                transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
}

//=============================================================================
// BASE STYLES
//=============================================================================

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background: @black;
    text-align: center;
    font-size: 14px;
    color: lighten(@black, 30%);
    overflow: hidden;
    .user-select(none);
    cursor: default;
    -webkit-font-smoothing: antialiased;
}

/* DO I NEED THIS?
button {
    height: 22px;
    display: inline-block;
    padding: 0 10px 1px 10px;
    border: 1px solid rgba(85,85,85,0.7);
    background: transparent;
    color: @black;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    box-shadow: 1px 1px 0px rgba(85,85,85,0.7);
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    &:focus, &:active {
        outline: 0;
    }
    
    &[disabled] {
        opacity: 0.5;
        cursor: default;
        
        &:hover {
            background: transparent;
        }
    }
}
*/

html.no-touch button:hover {
    background: rgba(255,255,255,0.2);
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    padding-top: 24px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    
    .title, .score {
        float: left;
        width: 50%;
    }
    
    .title {
        text-align: right;
        padding-right: 20px;
    }
    
    .score {
        text-align: left;
        padding-left: 21px;
        border-left: 1px solid @subtle-black;
        .transition(all 1s ease-in-out);
        
        
        .score-value.updating {
            color: #fff;
        }
    }
}

.game-board {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    
    .definition-container {
        height: 30%;
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        .definition {
            display: table;
            width: 100%;
            max-width: 760px;
            height: 100%;
            margin: 0 auto;
            
            p {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                padding: 0 30px;
                font-size: 26px;
                line-height: 32px;
                font-family: 'News Cycle', sans-serif;
                font-weight: 400;
                
                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }
    }
    
    .controls {
        height: 70%;
        
        .secret-word {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 180px;
            max-width: 1020px;
            margin: 0 auto;
            
            span.letter-holder {
                display: inline-block;
                vertical-align: middle;
                height: 180px;
                line-height: 180px;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 50px;
                .transition(all .15s cubic-bezier(0.29, 0.74, 0.04, 1.04));
                
                &:first-child {
                    text-transform: uppercase;
                }
                
                &:last-child {
                    margin-right: 0;
                }
                
                &.highlight {
                    font-family: 'HouseMovements-Sign';
                    font-size: 80px;
                    
                    // shadow
                    &:after {
                        content: '';
                        position: relative;
                        width: 40px;
                        height: 5px;
                        background-color: rgba(0,0,0,0.1);
                        display: block;
                        left: 50%;
                        margin-left: -20px;
                        top: -38px;
                        border-radius: 10px;
                        z-index: -1;
                    }
                    
                    // custom kerning for T* (except l and i)
                    &:first-child[data-character-code="116"] + *:not([data-character-code="104"]):not([data-character-code="105"]) {
                            margin-left: -9px;
                    }
                    
                    /* custom kerning for P*
                    &:first-child[data-character-code="112"] + * {
                            margin-left: -4px;
                    }
                    */
                }
            }
            
            &.win {
                
                span.letter-holder /* , &:after  */{
                    color: #8db955;
                }
            }
            
            &.lose {
                span.letter-holder /* , &:after  */{
                    color: #d66a4c;
                }
            }
            
            &.animated.shake {
                -webkit-animation-duration: .5s;
            }
        }
        
        .attempts {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5%;
            
            p {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                font-weight: 600;
            
                .attempts-left {
                    display: inline-block;
                    width: 15px;
                    letter-spacing: 0;
                }
            }
        }
        
        .keys {
            display: none;
            position: absolute;
            bottom: 40px;
            width: 100%;
            height: auto;
            
            div {
                display: inline-block;
                width: 8.125%;
                height: 36px;
                border-radius: 3px;
                border: 1px solid @subtle-black;
                border-radius: 3px;
                margin: 0 2px 12px 0;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                font-size: 20px;
                text-transform: uppercase;
                line-height: 36px;
                
                &[data-qwerty-order="10"], &[data-qwerty-order="19"],  {
                    margin-right: 0;
                }
                
                &.disabled {
                    opacity: 0;
                }
            }
        }
    }
}

.error {
    display: none;
    position: absolute;
    width: 340px;
    top: 120px;
    left: 50%;
    padding: 40px 30px 30px;
    margin-left: -170px;
    background: #fff;
    border: 1px solid @subtle-black;
    z-index: 1;
    
    p {
        margin-bottom: 20px;
    }
}

//=============================================================================
// LARGER PHONES BREAK POINT
//=============================================================================

@media (min-width: 768px) {
    
}

//=============================================================================
// TABLET/DESKTOP BREAK POINT
//=============================================================================

@media (min-width: 768px) {
    .header {
        .title {
        }
        
        .score {
        
        }
    }
    
    .game-board {
        .definition-container {
            .definition {
                p {
                    font-size: 36px;
                    line-height: 42px;
                }
            }
        }
        
        .controls {
            .secret-word {
                height: 180px;

                span.letter-holder {
                    
                    &.highlight {
                        font-size: 180px;
                    }
                    
                    // custom kerning for T* (except l and i)
                    &:first-child[data-character-code="116"] + *:not([data-character-code="104"]):not([data-character-code="105"]) {
                        margin-left: -21px;
                    }
                    
                    // custom kerning for P*
                    &:first-child[data-character-code="112"] + * {
                        margin-left: -4px;
                    }
                }
            }
        
            .keys {
                position: relative;
                bottom: auto;
                height: 60px;
                max-width: 1140px;
                padding: 12px 0 0 0;
                border-top: 1px solid @subtle-black;
                margin: 80px auto 20px auto;
                
                div {
                    width: 3.3333333333%;
                    border: none;
                    margin: 0;
                    cursor: pointer;
                    
                    &.disabled {
                        cursor: default;
                    }
                    
                    &.freebie-button {
                        position: relative;
                        top: 3px;
                        height: 28px;
                        text-align: right;
                        margin-left: 10px;
                        padding-right: 8px;
                        border-radius: 0;
                        border-left: 1px solid @subtle-black;
                    }
                }
            }
            
            .attempts {
                position: relative;
            }
        }
    }
}
